header{
	background-position: center;
	background-image: url("header.jpg");
	background-size: cover;
	height: 100%;
}

header h1{
	text-transform: uppercase;
	/*text-align: center;*/
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8);

}

body { 
font-family: 'Montserrat', sans-serif;
}

header hr { 
max-width: 73px;
border-width: 2.5px; 
border-color: #F05F44; 
margin-top: 190px;
margin-bottom: 30px;
}

.btn-primary{
	
	border-radius: 1000px;
	text-transform: uppercase;
	font-weight: 700;
	padding: auto;
}

.btn{
	background-color: #F05F44;
    border-color: #F05F44; 
    border-radius: 1000px;
}

.btn-primary:hover{
   background-color: #ee4b08; 
   border-color: #ee4b08; 
   border-width: 5px;  
   cursor: pointer;

  /*  text-transform: lowercase;  */
}




